body {
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

.menu-principal{
	width: 100%;
}

.logo {
	height: 79px;
	background-color: #FBFCFD;
	border-style: inset;
	border-width: 1px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-color: #E7EAEF;
}

.redes-sociais {
	height: 49px;
	background-color: #FBFCFD;
	border-style: inset;
	border-width: 1px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-color: #E7EAEF;
}

.img-1 {
  	position:relative;
  	top: 18px;
  	left: 16%;
}

.contato-sociais {
	font-family: Gilroy Light;
	font-size: 16px;
	color: #707070;
	position: relative;
	bottom: 12px;
	right: 15px;
	text-decoration: none;
}

.contato-sociais:hover {
	text-decoration: underline;
}

.posicionamento-sociais {
	width: 260px;
  	position:relative;
	top: 16%;
	left: 69%;
}

.main-1 {
	width: 1112px;
	position: relative;
	margin: 0 auto;
}

.titulo-1 {
	font-family: Gilroy Extrabold;
	text-align: center;
	font-size: 50px;
	color: #404F61;
}

.sub-titulo {
	font-family: Gilroy Light;
	text-align: center;
	font-size: 20px;
	color: #707070;
	position: relative;
	bottom: 30px;
}

.gestao-de-projetos {
	text-align: center;
	margin: 0px 0px 120px 0px;
}

.img-principal {
	max-width: 1920px;
	width: auto;
}

.titulo-2 {
	font-family: Gilroy Light;
	font-size: 35px;
	text-align: center;
	color: #4C6173;
	position: relative;
	top: 10%;
	line-height: 42px;
}

.sub-titulo-2 {
	text-align: center;
	font-family: Gilroy Light;
	font-size: 16px;
	color: #4C6173;
	position: relative;
	top: 50%;
	line-height: 26px;
	margin-bottom: 50px;
}

.opcoes-1 {
	text-align: center;
	position: relative;
	right: 0%;
}

.opcoes-2 {
	text-align: center;
	position: relative;
	right: 0%;
}

.opcoes-3 {
	text-align: center;
	position: relative;
	right: 0%;
}

.opcoes-1 ul li {
	height: 103px;		
	vertical-align: middle;
	font-family: Gilroy Light;
	font-size: 16px;
	display: inline-block;
	text-align: center;
	color: #4C6173;
	line-height: 26px;
	margin: 0px 95px 30px 0px;
}

.opcoes-2 ul li {
	height: 103px;		
	vertical-align: middle;
	font-family: Gilroy Light;
	font-size: 16px;
	display: inline-block;
	text-align: center;
	color: #4C6173;
	line-height: 26px;
	margin: 0px 95px 30px 0px;
}

.opcoes-3 ul li {
	height: 130px;		
	vertical-align: middle;
	font-family: Gilroy Light;
	font-size: 16px;
	display: inline-block;
	text-align: center;
	color: #4C6173;
	line-height: 26px;
	margin: 0px 98px 70px 0px;
}

.fundo-azul {
	height: 380px;
	background-color: #3C9DD5;
	width: 100%;
	margin-bottom: 50px;
}

.margem-azul-claro {
	width: 1112px;
	margin: 0 auto;
	position: relative;
}

.titulo-3 {
	vertical-align: middle;
	font-family: Gilroy Light;
	font-size: 35px;
	color: #FFFFFF;
	text-align: center;
	position: relative;
	top: 68px;
}

.sub-titulo-3 {
	vertical-align: middle;
	font-family: Gilroy Light;
	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
	line-height: 26px;
	position: relative;
	top: 68px;
}

.main-2 {
	width: 1112px;
	position: relative;
	margin: 0 auto;
	height: 330px;
}

.metodologias {
	float: right;
}

.titulo-4 {
	color: #4C6173;
	font-size: 30px;
	font-family: Gilroy Light;
	line-height: 36px;
	text-align: left;
}

.sub-titulo-4 {
	max-width: 621px;
	color: #4C6173;
	font-size: 16px;
	font-family: Gilroy Light;
	line-height: 26px;
	text-align: left;
}

.img-metodologias {
	max-width: 480px;
	width: auto;
}

.img-2 {
	position: absolute;
	top: 55px;
	left: 40px;
}

.azul-escuro {
	background-color: #364E62;
	height: 380px;
	width: 100%;
	margin-top: 60px;
}

.main-3 {
	width: 843px;
	position: relative;
	margin: 0 auto;
}

.titulo-5 {
	font-family: Gilroy Extrabold;
	font-size: 35px;
	line-height: 43px;
	color: #FFFFFF;
	position: relative;
	top:90px;
}

.sub-titulo-5 {
	font-family: Gilroy Light;
	font-size: 16px;
	line-height: 26px;
	color: #FFFFFF;
	position: relative;
	top:90px;
}

.envio ul li {
	width: 300px;
	font-family: Gilroy Light;
	font-size: 16px;
	display: inline-block;
	color: #FFFFFF;
	position: relative;
	top: 90px;
	right: 40px;
	margin-right: 20px;
}

.testes {
	width: 300px;
	height: 54px;
	border-radius: 4px;
	border-color: #707070
	border: 1px;
	border-style: inset;
	font-family: Gilroy Light;
	font-size: 16px;
}

.e-mail { 
	width: 298px;
	height: 56px;
	border-radius: 4px;
	border-color: #707070;
	border: 1px;
	border-style: inset;
	font-family: Gilroy Light;
	font-size: 16px;
}

.aviso {
	width: 189px;
	height: 59px;
	background-color: #8BBD4F;
	border-radius: 4px;
	border: 1px;
	border-color: #707070;
	border-style: inset;
	border-top: none;
	border-left: none;
	position: relative;
	left: 644px;
	top: 14px;
}

.aviso-inside {
	font-family: Gilroy Light;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	top: 32%;
}

.rodape {
	background-color: #FFFFFF;
	height: 100px;
	width: 100%;
}

.posicionamento-sociais-2 { 
	position: relative;
	left: 73%;
	bottom: 28%;
	width: 260px;
}

.posicionamento-scopo {
	width: 200px;
	position: relative;
	left: 20%;
}

.img-3{
	position: relative;
	left: 70%;
}

.last {
	font-family: Gilroy Light;
	font-size: 16px;
	position: relative;
	right: 55px;
	top: 30px;
	color: #707070;
	line-height: 16px;
}

.main-input {
	width: 570.87px;
	position: relative;
	margin: 0 auto;
}

.fale-titulo {
	font-family: Gilroy Light;
	font-size: 35px;
	line-height: 43px;
	color: #4C6173;
}

.nome-input {
	width: 570.87px;
	height: 60px;
	border-radius: 4px;
	border-color: #E7EAEF;
	border: 1px;
	border-style: inset;
	font-family: Gilroy Light;
	font-size: 16px;
	margin: 0px 0px 20px 0px;
}

.email-input {
	width: 570.87px;
	height: 60px;
	border-radius: 4px;
	border-color: #E7EAEF;
	border: 1px;
	border-style: inset;
	font-family: Gilroy Light;
	font-size: 16px;
	margin: 0px 0px 20px 0px;
}

.telefone-input {
	width: 570.87px;
	height: 60px;
	border-radius: 4px;
	border-color: #E7EAEF;
	border: 1px;
	border-style: inset;
	font-family: Gilroy Light;
	font-size: 16px;
	margin: 0px 0px 20px 0px;
}

.mensagem-input {
	width: 570.87px;
	height: 60px;
	border-radius: 4px;
	border-color: #E7EAEF;
	border: 1px;
	border-style: inset;
	font-family: Gilroy Light;
	font-size: 16px;
	margin-bottom: 3px;
}

.enviar-font {
	font-family: Gilroy Light;
	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
	position: relative;
	top: 32%;
}

.enviar-input {
	width: 95px;
	height: 60px;
	border-radius: 4px;
	background-color: #8BBD4F;
	margin-bottom: 100px;
}